{% extends 'point/layout.html' %}

{% block head %}

{% endblock %}

{% block main %}
    <div class="box-div all-screen">
        <div class="">
            <h3>Day</h3>
            <div class="flex boxs">
                <div class="flex box-hour wh">
                    <span>Horas trabalhadas</span>
                    <p>08:00</p>
                </div>
                <div class="flex box-hour ph">
                    <span>Horas previstas</span>
                    <p>08:00</p>
                </div>
                <div class="flex box-hour shp">
                    <span>Saldos</span>
                    <p>08:00</p>
                </div>
                
            </div>
        </div>
        <div class="">
            <h3>Week</h3>
            <div class="flex boxs">
                <div class="flex box-hour wh">
                    <span>Horas trabalhadas</span>
                    <p>08:00</p>
                </div>
                <div class="flex box-hour ph">
                    <span>Horas previstas</span>
                    <p>08:00</p>
                </div>
                <div class="flex box-hour shp">
                    <span>Saldos</span>
                    <p>08:00</p>
                </div>
                
            </div>
        </div>
        <div class="">
            <h3>Month</h3>
            <div class="flex boxs">
                <div class="flex box-hour wh">
                    <span>Horas trabalhadas</span>
                    <p>08:00</p>
                </div>
                <div class="flex box-hour ph">
                    <span>Horas previstas</span>
                    <p>08:00</p>
                </div>
                <div class="flex box-hour shn">
                    <span>Saldos</span>
                    <p>08:00</p>
                </div>
                
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}

{% endblock %}